In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

## Read Datasets

In [3]:
def read_train():
    df_train = pd.read_csv("data/Train.csv")
    return df_train

In [5]:
def read_test():
    df_test =pd.read_csv("data/Test.csv")
    return df_test

In [6]:
def read_sub():
    df_sub =pd.read_csv("data/SampleSubmission.csv")
    return df_sub

In [7]:
def read_riders():
    df_riders =pd.read_csv("data/Riders.csv")
    return df_riders

In [12]:
def read_definitions():
    df_definitions = pd.read_csv("data/VariableDefinitions.csv")
    return df_definitions

In [13]:
train_df = read_train()
test_df = read_test()
riders_df = read_riders()
submission_df = read_sub()
var_df = read_definitions()

In [14]:
train_df.shape , test_df.shape ,riders_df.shape

((21201, 29), (7068, 25), (960, 5))

In [16]:
train_df.head()

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
0,Order_No_4211,User_Id_633,Bike,3,Business,9,5,9:35:46 AM,9,5,...,10:39:55 AM,4,20.4,NaN,-1.317755,36.830370,-1.300406,36.829741,Rider_Id_432,745
1,Order_No_25375,User_Id_2285,Bike,3,Personal,12,5,11:16:16 AM,12,5,...,12:17:22 PM,16,26.4,NaN,-1.351453,36.899315,-1.295004,36.814358,Rider_Id_856,1993
2,Order_No_1899,User_Id_265,Bike,3,Business,30,2,12:39:25 PM,30,2,...,1:00:38 PM,3,NaN,NaN,-1.308284,36.843419,-1.300921,36.828195,Rider_Id_155,455
3,Order_No_9336,User_Id_1402,Bike,3,Business,15,5,9:25:34 AM,15,5,...,10:05:27 AM,9,19.2,NaN,-1.281301,36.832396,-1.257147,36.795063,Rider_Id_855,1341
4,Order_No_27883,User_Id_1737,Bike,1,Personal,13,1,9:55:18 AM,13,1,...,10:25:37 AM,9,15.4,NaN,-1.266597,36.792118,-1.295041,36.809817,Rider_Id_770,1214

In [18]:
train_df.sample(5)

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
11279,Order_No_10483,User_Id_970,Bike,3,Business,4,2,12:58:06 PM,4,2,...,3:05:19 PM,6,23.7,11.0,-1.257147,36.795063,-1.285200,36.823970,Rider_Id_404,2985
20103,Order_No_21456,User_Id_835,Bike,3,Business,9,2,10:35:46 AM,9,2,...,11:20:37 AM,20,27.2,NaN,-1.291787,36.787267,-1.370038,36.919017,Rider_Id_548,2000
19762,Order_No_4479,User_Id_2330,Bike,3,Business,13,3,10:32:25 AM,13,3,...,11:13:24 AM,10,NaN,NaN,-1.264960,36.798178,-1.301520,36.765846,Rider_Id_318,1259
20731,Order_No_14994,User_Id_3724,Bike,1,Personal,30,3,9:20:35 AM,30,3,...,10:18:34 AM,10,17.4,NaN,-1.320529,36.819726,-1.257142,36.801563,Rider_Id_208,1608
19971,Order_No_12387,User_Id_265,Bike,3,Business,3,5,10:09:46 AM,3,5,...,12:06:39 PM,4,NaN,NaN,-1.300921,36.828195,-1.278818,36.820668,Rider_Id_155,2866

In [21]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

In [26]:
train_df.isnull().sum()

Order No                                         0
User Id                                          0
Vehicle Type                                     0
Platform Type                                    0
Personal or Business                             0
Placement - Day of Month                         0
Placement - Weekday (Mo = 1)                     0
Placement - Time                                 0
Confirmation - Day of Month                      0
Confirmation - Weekday (Mo = 1)                  0
Confirmation - Time                              0
Arrival at Pickup - Day of Month                 0
Arrival at Pickup - Weekday (Mo = 1)             0
Arrival at Pickup - Time                         0
Pickup - Day of Month                            0
Pickup - Weekday (Mo = 1)                        0
Pickup - Time                                    0
Arrival at Destination - Day of Month            0
Arrival at Destination - Weekday (Mo = 1)        0
Arrival at Destination - Time                    0
Distance (KM)                                    0
Temperature                                   4366
Precipitation in millimeters                 20649
Pickup Lat                                       0
Pickup Long                                      0
Destination Lat                                  0
Destination Long                                 0
Rider Id                                         0
Time from Pickup to Arrival                      0
dtype: int64

  Quite a number of missing values in  the **Precipitation in millimeters**  column and  moderate number in  **Temperature**

In [29]:
train_df.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival'],
      dtype='object')

In [31]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Platform Type,21201.0,2.752182,0.625178,1.000000,3.000000,3.000000,3.000000,4.000000
Placement - Day of Month,21201.0,15.653696,8.798916,1.000000,8.000000,15.000000,23.000000,31.000000
Placement - Weekday (Mo = 1),21201.0,3.240083,1.567295,1.000000,2.000000,3.000000,5.000000,7.000000
Confirmation - Day of Month,21201.0,15.653837,8.798886,1.000000,8.000000,15.000000,23.000000,31.000000
Confirmation - Weekday (Mo = 1),21201.0,3.240225,1.567228,1.000000,2.000000,3.000000,5.000000,7.000000
Arrival at Pickup - Day of Month,21201.0,15.653837,8.798886,1.000000,8.000000,15.000000,23.000000,31.000000
Arrival at Pickup - Weekday (Mo = 1),21201.0,3.240225,1.567228,1.000000,2.000000,3.000000,5.000000,7.000000
Pickup - Day of Month,21201.0,15.653837,8.798886,1.000000,8.000000,15.000000,23.000000,31.000000
Pickup - Weekday (Mo = 1),21201.0,3.240225,1.567228,1.000000,2.000000,3.000000,5.000000,7.000000
Arrival at Destination - Day of Month,21201.0,15.653837,8.798886,1.000000,8.000000,15.000000,23.000000,31.000000
Arrival at Destination - Weekday (Mo = 1),21201.0,3.240225,1.567228,1.000000,2.000000,3.000000,5.000000,7.000000
Distance (KM),21201.0,9.506533,5.668963,1.000000,5.000000,8.000000,13.000000,49.000000
Temperature,16835.0,23.258889,3.615768,11.200000,20.600000,23.500000,26.000000,32.100000
Precipitation in millimeters,552.0,7.905797,17.089971,0.100000,1.075000,2.900000,4.900000,99.100000
Pickup Lat,21201.0,-1.281470,0.030507,-1.438302,-1.300921,-1.279395,-1.257147,-1.147170
Pickup Long,21201.0,36.811264,0.037473,36.653621,36.784605,36.807040,36.829741,36.991046
Destination Lat,21201.0,-1.282581,0.034824,-1.430298,-1.301201,-1.284382,-1.261177,-1.030225
Destination Long,21201.0,36.811220,0.044721,36.606594,36.785661,36.808002,36.829477,37.016779
Time from Pickup to Arrival,21201.0,1556.920947,987.270788,1.000000,882.000000,1369.000000,2040.000000,7883.000000

In [33]:
riders_df.head()

       Rider Id  No_Of_Orders   Age  Average_Rating  No_of_Ratings
0  Rider_Id_396          2946  2298            14.0           1159
1  Rider_Id_479           360   951            13.5            176
2  Rider_Id_648          1746   821            14.3            466
3  Rider_Id_753           314   980            12.5             75
4  Rider_Id_335           536  1113            13.7            156

#### Lets merge the riders table with the train_df and the test_df

In [35]:
train = train_df.merge(riders_df, how="left")

In [ ]:
test = test_df.merge()